<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0">Project Detail</h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn mb-0" href="/project"><i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Go back</a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="card card-plain mt-2">
            <div class="card-header pb-0 text-left bg-transparent">
       
              <p class="mb-0 text-danger">{{message}}</p>
            </div>
            <div class="card-body">
              <form role="form" id="formCreateProject" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Name</label>
                    <div class="mb-3 ms-4">
                      <label>Vietnamese: </label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.name.vi}}</span>
                    </div>
                    <div class="mb-3 ms-4">
                      <label>English: </label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.name.en}}</span>
                    </div>
                    <label>Location</label>
                    <div class="mb-3 ms-4">
                      <label>Vietnamese:</label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.location.vi}}</span>
                    </div>
                    <div class="mb-3 ms-4">
                      <label>English:</label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.location.en}}</span>
                    </div>
                    <label>Icon</label>
                    <div class="mb-3 text-center">
                      <img width="50px" height="50px" src="{{project.icon.imageUrl}}" alt="image error">
                    </div>
                    <div class="mb-3">
                      <label>Customer:</label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.customer.name.vi}}</span>
                    </div>
                  
                    <label>Services</label>
                    <div class="mb-3 ms-4">
                      <label>Name</label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.services.name}}</span>
                      {{!-- <label>Icon</label>
                      <span class="text-secondary text-xs font-weight-bold">{{project.services.name}}</span>
                      <label>Image Cover</label>
                      <div class="mb-3">
                        <img width="50px" height="50px" src="{{project.services.imageCover}}" alt="image error">
                      </div>
                      <label>Images Gallery</label>
                      <div class="mb-3">
                        {{#each project.services.images}}
                        <img width="50px" height="50px" src="{{this}}" alt="image error">
                        {{/each}}
                      </div> --}}
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Time</label>
                    <div class="mb-3 ms-4">
                      <label>Vietnamese</label>
                      <input name="timeVi" type="text" class="form-control" placeholder="Vietnamese Time">
                      <label>English</label>
                      <input name="timeEn" type="text" class="form-control" placeholder="English Time">
                    </div>
                    <label>scope Of Work</label>
                    <div class="mb-3 ms-4">
                      <label>Vietnamese</label>
                      <input name="scopeOfWorkVi" type="text" class="form-control" placeholder="abcxyz">
                      <label>English</label>
                      <input name="scopeOfWorkEn" type="text" class="form-control" placeholder="abcxyz">
                    </div>
                    
                    <label>Lat/Long</label>
                    <div class="mb-3">
                      <input name="latLong" type="text" class="form-control" placeholder="[1,1]"
                        id="latLongCreate">
                    </div>
                    <label>Image</label>
                    <div class="mb-3">
                      <input  name="ImageProject" class="form-control" type="file"
                        accept=".png" />
                    </div>
                    <label>Oil Field</label>
                    <div class="mb-3">
                      <select name="oilField" class="form-control">
                        <option value="">----Choose Oil Field----</option>
                        {{#each fields}}
                          <option value="{{this._id}}">{{this.fieldId}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark mt-4 mb-0">Create </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>