<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0">Edit Information Project </h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn mb-0" href="/project"><i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Go back</a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="card card-plain mt-2">
            <div class="card-header pb-0 text-left bg-transparent">
              {{!-- <h3 class="font-weight-bolder text-info text-gradient">Thông tin tài khoản mới</h3> --}}
              <p class="mb-0">Please fill in all the required information below!</p>
              <p class="mb-0 text-danger">{{message}}</p>
            </div>
            <div class="card-body">
              <form role="form" id="formCreateProject" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Name</label>
                    <div class="mb-3 ms-4 border p-4 mb-2 bg-gray-100 border-radius-lg">
                      <label>Vietnamese</label>
                      <input name="nameVi" type="text" class="form-control" value="{{project.name.vi}}"
                        placeholder="Vietnamese name">
                      <label>English</label>
                      <input name="nameEn" type="text" class="form-control" value="{{project.name.en}}"
                        placeholder="English name">
                    </div>
                    <label>Location</label>
                    <div class="mb-3 ms-4 border p-4 mb-2 bg-gray-100 border-radius-lg">
                      <label>Vietnamese</label>
                      <input name="locationVi" type="text" class="form-control" value="{{project.location.vi}}"
                        placeholder="Vietnamese location">
                      <label>English</label>
                      <input name="locationEn" type="text" class="form-control" value="{{project.location.en}}"
                        placeholder="English location">
                    </div>
                    <label>Icon</label>
                    <div class="mb-3">
                      <select name="icon" class="form-control">
                        <option value="">----Choose Icon----</option>
                        {{#each icons.data}}
                        {{#if (compare this._id ../icons.idSelected)}}
                        <option value="{{this._id}}" selected>{{this.name}}</option>
                        {{else}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/if}}
                        {{/each}}
                      </select>
                    </div>
                    <label>Customer</label>
                    <div class="mb-3">
                      <select name="customer" class="form-control">
                        <option value="">----Choose Customer----</option>
                        {{#each customers.data}}
                        {{#if (compare this._id ../customers.idSelected)}}
                        <option value="{{this._id}}" selected>{{this.name.vi}} ({{this.name.en}})</option>
                        {{else}}
                        <option value="{{this._id}}">{{this.name.vi}} ({{this.name.en}})</option>
                        {{/if}}
                        {{/each}}
                      </select>
                    </div>
                    
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Time</label>
                    <div class="mb-3 ms-4 border p-4 mb-2 bg-gray-100 border-radius-lg">
                      <label>Vietnamese</label>
                      <input name="timeVi" type="text" class="form-control" value="{{project.time.vi}}"
                        placeholder="Vietnamese Time">
                      <label>English</label>
                      <input name="timeEn" type="text" class="form-control" value="{{project.time.en}}"
                        placeholder="English Time">
                    </div>
                    <label>scope Of Work</label>
                    <div class="mb-3 ms-4 border p-4 mb-2 bg-gray-100 border-radius-lg">
                      <label>Vietnamese</label>
                      <input name="scopeOfWorkVi" type="text" class="form-control" value="{{project.scopeOfWork.vi}}"
                        placeholder="abcxyz">
                      <label>English</label>
                      <input name="scopeOfWorkEn" type="text" class="form-control" value="{{project.scopeOfWork.en}}"
                        placeholder="abcxyz">
                    </div>

                    <label>Lat/Long</label>
                    <div class="mb-3">
                      <input name="latLong" type="text" class="form-control" placeholder="[1,1]" value="{{strLatLong}}"
                        id="latLongCreate">
                    </div>
                    <label>Image</label>
                    <div class="mb-3">
                      <img width="50px" height="50px" src="{{project.image}}" alt="image error" class="m-3">
                      <input name="ImageProject" class="form-control" type="file" accept=".png" />
                    </div>
                    <label>Oil Field</label>
                    <div class="mb-3">
                      <select name="oilField" class="form-control">
                        <option value="">----Choose Oil Field----</option>
                        {{#each fields.data}}
                        {{#if (compare this._id ../fields.idSelected)}}
                        <option value="{{this._id}}" selected>{{this.fieldId}}</option>
                        {{else}}
                        <option value="{{this._id}}">{{this.fieldId}}</option>
                        {{/if}}
                        {{/each}}
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <label>Services</label>
                    <div class="mb-3 ms-4">
                      <label>Name</label>
                      <select name="nameService" class="form-control" id="nameServiceSelect" multiple>
                        {{#each services.data}}
                        {{#if (checkContainArray this.idName ../services.idSelected)}}
                        <option value="{{this.idName}}" selected>{{this.name}}</option>
                        {{else}}
                        <option value="{{this.idName}}">{{this.name}}</option>
                        {{/if}}
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="row ms-3" id="dynamicContent">
                    <!-- Content will be loaded here -->
                  </div>

                </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark mt-4 mb-0">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function hideImg(idService, indexImg) {
        // Find the closest parent with class 'img-pos' and hide its child 'img' element
        var imgPos = $(event.target).closest('.img-pos');
        var imgElement = imgPos.find('img');
        var deleteButton = imgPos.find('a');
        
        // Check if imgElement exists before attempting to hide
        if (imgElement.length > 0) {
            imgElement.hide();
            deleteButton.hide();
            fetch(`/project/${idService}/${indexImg}`, {
              method: 'DELETE',
              headers: { 'Content-Type': 'application/json' },
            }).then((res) => {
              const response = {
                status: res.status,
                data: res.json(),
              }
              return response
            })
              .then(data => {
                data.data.then((val) => {
                  if (data.status != 200) {
                    Swal.fire({
                      position: 'center',
                      icon: 'error',
                      text: val.message,
                      showConfirmButton: false,
                      timer: 1500
                    })
                  } else {
                    // console.log(val.message)
                  }
                })
              })
        }
    }
  $(document).ready(function () {
    // Get the selected values
    const selectedValuesOfProject = $('#nameServiceSelect').val();
    // Get the selected values
   
    // loop selectedValues and render code html
    $.ajax({
      url: '/project/getServicesSelect', // Replace with your actual API endpoint
      method: 'POST', // or 'GET' depending on your server configuration
      data: { selectedValues: selectedValuesOfProject },
      success: function (data) {
        // loop data and render code html
        // console.log(data.services)
        html = `
          {{#each project.services.arrayServiceVi}}
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="border p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="mt-3">
                  <label>Service: </label>
                  <span class="text-success text-xs font-weight-bold">{{this.name.vi}}
                  </span>
                </div>
                <label>Icon</label>
                <select name="iconService_{{this.name._id}}" class="form-control">
                  <option value="">----Choose icon----</option>
                  {{#each ../icons.data as |icon|}}
                    {{#if (compare icon._id ../this.icon._id)}}
                      <option value="{{icon._id}}" selected>{{icon.name}}</option>
                    {{else}}
                      <option value="{{icon._id}}">{{icon.name}}</option>
                    {{/if}}
                  {{/each}}
                </select>
                <div class="mt-3 mb-3">
                  <label>Description</label>
                  <div class="mb-3 ms-4">
                    <label>Vietnamese</label>
                    <textarea name="desVi_{{this.name._id}}" rows="4" type="text" class="form-control">{{this.description.vi}}</textarea>
                    <label>English</label>
                    <textarea name="desEn_{{this.name._id}}" rows="4" type="text" class="form-control">{{this.description.en}}</textarea>
                  </div>
                </div>
                <label>Image Cover</label>
                <div class="mb-3">
                  <img width="50px" height="50px" src="{{this.imageCover}}" alt="image error" class="m-3">
                  <input name="imageServiceCover_{{this.name._id}}" class="form-control" type="file"
                    accept=".png" />
                </div>
                <label>Images Gallery</label>
                <div class="mb-3">
                  {{#each this.images as |image|}}
                  <div class="img-pos" style="display: inline-block;">
                    <a href="#" class="close" onclick="hideImg('{{../this._id}}','{{@index}}')">&times;</a>
                    <img width="50px" height="50px" src="{{image}}" alt="image error" class="m-3">
                  </div>
                  {{/each}}
                  <input name="imageServiceGallery_{{this.name._id}}" class="form-control" type="file" multiple
                    accept=".png" />
                </div>
              </div>
            </div>
        {{/each}}
        `
        $('#dynamicContent').html(html)
      },
      error: function (error) {
        // Handle errors
        $('#dynamicContent').html(``)
      }
    });


    
      

  $('#nameServiceSelect').on('change', function () {
    // Get the selected values
    const selectedValuesNew = $(this).val();
    // console.log(selectedValuesOfProject,selectedValuesNew)
    // loop selectedValues and render code html
    $.ajax({
      url: '/project/getServicesSelectProject/{{project.id}}', // Replace with your actual API endpoint
      method: 'POST', // or 'GET' depending on your server configuration
      data: { selectedValues: selectedValuesNew },
      success: function (data) {
        // loop data and render code html
        // console.log(data.services)
        let html = ''
        data.services.forEach(element => {
          // console.log(element.icons)
          if (element.data){
            html += `
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="border p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="mt-3">
                      <label>Service: </label>
                      <span class="text-success text-xs font-weight-bold">${element.name}</span>
                    </div>
                    <label>Icon</label>
                    <select name="iconService_${element.idName}" class="form-control">
                      <option value="">----Choose icon----</option>`
                      //render option in here
                      element.icons.forEach(icon => {
                        html += `
                            <option value="${icon._id}" ${(element.data.icon._id === icon._id) ? 'selected' : ''}>${icon.name}</option>`;
                    });
                    html += `</select>
                    <div class="mt-3 mb-3">
                    <label>Description</label>
                      <div class="mb-3 ms-4">
                        <label>Vietnamese</label>
                        <textarea name="desVi_${element.idName}" rows="4" class="form-control">${element.data.description.vi}</textarea>
                        <label>English</label>
                        <textarea name="desEn_${element.idName}" rows="4" class="form-control">${element.data.description.en}</textarea>
                      </div>
                    </div>
                    <label>Image Cover</label>
                    <div class="mb-3">
                      <img width="50px" height="50px" src="${element.data.imageCover}" alt="image error" class="m-3">
                      <input name="imageServiceCover_${element.idName}" class="form-control" type="file"
                        accept=".png" />
                    </div>
                    <label>Images Gallery</label>
                    <div class="mb-3">`
                      //render option in here
                      element.data.images.forEach((img, index) => {
                        html += `
                        <div class="img-pos" style="display: inline-block;">
                          <a href="#" class="close" onclick="hideImg('${element.data._id}','${index}')">&times;</a>
                          <img width="50px" height="50px" src="${img}" alt="image error" class="m-3">
                        </div>
                        `;
                    });
                    html += `
                      <input name="imageServiceGallery_${element.idName}" class="form-control" type="file" multiple
                        accept=".png" />
                    </div>
                  </div>
                </div>

              `
          }else{
            html += `
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="border p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="mt-3">
                      <label>Service: </label>
                      <span class="text-success text-xs font-weight-bold">${element.name}</span>
                    </div>
                    <label>Icon</label>
                    <select name="iconService_${element.idName}" class="form-control">
                      <option value="">----Choose icon----</option>`
                      //render option in here
                      element.icons.forEach(icon => {
                        html += `
                            <option value="${icon._id}">${icon.name}</option>`;
                    });
                    html += `</select>
                    <div class="mt-3 mb-3">
                    <label>Description</label>
                      <div class="mb-3 ms-4">
                        <label>Vietnamese</label>
                        <textarea name="desVi_${element.idName}" rows="4" class="form-control" placeholder="Vietnamese Description"></textarea>
                        <label>English</label>
                        <textarea name="desEn_${element.idName}" rows="4" class="form-control" placeholder="English Description"></textarea>
                      </div>
                    </div>
                    <label>Image Cover</label>
                    <div class="mb-3">
                      <input name="imageServiceCover_${element.idName}" class="form-control" type="file"
                        accept=".png" />
                    </div>
                    <label>Images Gallery</label>
                    <div class="mb-3">
                      <input name="imageServiceGallery_${element.idName}" class="form-control" type="file" multiple
                        accept=".png" />
                    </div>
                  </div>
                </div>

              `
          }

        });
        $('#dynamicContent').html(html)

      },
      error: function (error) {
        // Handle errors
        $('#dynamicContent').html(``)
      }
    });


  });

  const formCreateProject = document.getElementById('formCreateProject');

  formCreateProject.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(formCreateProject);


    // print value of formdata
    //for (var value of formData.values()) {
    //   console.log(value);
    //}
    fetch('/project/{{project.id}}', {
      method: 'PUT',
      body: formData
    }).then((res) => {
      const response = {
        status: res.status,
        data: res.json(),
      }
      return response
    })
      .then(data => {
        data.data.then((val) => {
          if (data.status != 200) {
            Swal.fire({
              position: 'center',
              icon: 'error',
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            Swal.fire({
              position: "center",
              icon: "success",
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              window.location.href = "/project"
            });
          }
        })
      })
  })
});
</script>