<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0">Detail Icon</h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn mb-0" href="/icon"><i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Go back</a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="card card-plain mt-2">
            <div class="card-header pb-0 text-left bg-transparent">
              {{!-- <h3 class="font-weight-bolder text-info text-gradient">Thông tin tài khoản mới</h3> --}}
            </div>
            <div class="card-body">
              <form role="form" id="formCreateIcon" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    {{!-- <label>Icon Name</label>
                    <div class="mb-3">
                      <input name="iconName" type="text" class="form-control" placeholder="Icon name" value="{{detailIcon.name}}" id="iconNameEdit">
                    </div> --}}
                    <ul class="list-group">
                      <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Icon Name:</strong> &nbsp; {{detailIcon.name}}</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Status:</strong>
                      {{#if (compare detailIcon.status 'In use')}}
                        <span class="badge badge-sm bg-gradient-success">In use</span>
                      {{else}}
                        <span class="badge badge-sm bg-gradient-secondary">Not in use</span>
                      {{/if}}
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Project List:</strong> &nbsp; {{detailIcon.projects}}</li>
                    </ul>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Icon Image</label>
                    <div class="mb-3">
                      {{#if detailIcon.imageUrl}}
                        <img width="100px" src="{{detailIcon.imageUrl}}" alt="image error" class="m-3">
                      {{/if}}
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

