
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Banner Management</h6>
                </div>
                <div class="col-6 text-end">
                  <a class="btn bg-gradient-dark mb-0" href="banner/create"><i class="fas fa-plus"></i>&nbsp;&nbsp;Upload New Image</a>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">Status
                      </th>
                      <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Image
                      </th>
                      <th class="text-secondary opacity-7" colspan='5'></th>
                    </tr>
                  </thead>
                  <tbody id="body-table-icon">
                    {{#each banners}}
                    <tr>
                      <td>
                        <div class="d-flex px-3 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 ml-3 text-sm">{{this.name}}</h6>
                          </div>
                        </div>
                      </td>
                      {{#if this.status}}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Active</span>
                      </td>
                      {{else}}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary">Inactive</span>
                      </td>
                      {{/if}}
                      <td class="align-middle text-center text-sm">
                        {{#if this.imageUrl}}
                        <img width="100px" src="{{this.imageUrl}}" alt="image error">
                        {{else}}
                        <p class="text-xs font-weight-bold mb-0">No image</p>
                        {{/if}}
                      </td>
                      <td class="align-middle text-center" style="width: 100px !important;">
                        <a href="/banner/{{this._id}}/edit" class="text-secondary font-weight-bold text-xs">
                          Edit
                        </a>
                      </td>
                      <td class="align-middle text-center" style="width: 100px !important;">
                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" id="deleteUser"
                          data-toggle="tooltip" data-original-title="Edit user"
                          onclick="deleteIcon('{{this._id}}','{{this.name}}','{{this.status}}')">
                          Delete
                        </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  <script>

    function deleteIcon(id, name, status) {
      if (status == 'true'){
        Swal.fire({
          position: 'center',
          icon: 'error',
          text: 'The icon is currently in use and cannot be deleted!',
          showConfirmButton: false,
          timer: 3000
        })
      }else{
        Swal.fire({
          text: `Are you sure you want to delete image name "${name}" ?`,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "Yes",
          cancelButtonText: "Cancel",
          reverseButtons: true
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`/banner/${id}`, {
              method: 'DELETE',
              headers: { 'Content-Type': 'application/json' },
            }).then((res) => {
              const response = {
                status: res.status,
                data: res.json(),
              }
              return response
            })
              .then(data => {
                data.data.then((val) => {
                  if (data.status != 200) {
                    Swal.fire({
                      position: 'center',
                      icon: 'error',
                      text: val.message,
                      showConfirmButton: false,
                      timer: 3000
                    })
                  } else {
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      text: val.message,
                      showConfirmButton: false,
                      timer: 1500
                    }).then(() => {
                      window.location.href = "/banner"
                    });
                  }
                })
              })
          }
        });
      }
    }


  </script>
