<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="apple-touch-icon" sizes="76x76" href="http://localhost:3300/assets/img/my-project/icon-admissions.png" />
  <link rel="icon" href="http://localhost:3300/assets/img/my-project/icon-admissions.png" />
  <title>
    Dashboard Admin Admissions
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="http://localhost:3300/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="http://localhost:3300/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="http://localhost:3300/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="http://localhost:3300/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body class="g-sidenav-show bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 ps ps--active-y bg-white"
    data-color="dark" id="sidenav-main">
    <div class="sidenav-header" style="
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #ffffff;
        font-size: 20px;
    ">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav">
      </i>
      <a class="navbar-brand m-0" href="/">
        <img src="http://localhost:3300/assets/img/my-project/icon-admissions.png" class="navbar-brand-img h-100" alt="main_logo" />
        <span class="ms-1 fs-5 font-weight-bold">Admissions </span>
      </a>
    </div>
    <hr class="horizontal dark mt-0" />
    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
      <ul class="navbar-nav mb-4">
        <li class="nav-item">
        {{#if (compare activeSideBar "dashboard")}}
          <a class="nav-link active" href="/">
        {{else}}
          <a class="nav-link" href="/">
        {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "dashboard")}}
              <svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M280.4 148.3L96 300.1V464a16 16 0 0 0 16 16l112.1-.3a16 16 0 0 0 15.9-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.6a16 16 0 0 0 16 16.1L464 480a16 16 0 0 0 16-16V300L295.7 148.3a12.2 12.2 0 0 0 -15.3 0zM571.6 251.5L488 182.6V44.1a12 12 0 0 0 -12-12h-56a12 12 0 0 0 -12 12v72.6L318.5 43a48 48 0 0 0 -61 0L4.3 251.5a12 12 0 0 0 -1.6 16.9l25.5 31A12 12 0 0 0 45.2 301l235.2-193.7a12.2 12.2 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0 -1.7-16.9z"/></svg>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        {{#if (compare user.isAdmin true)}}
          <li class="nav-item">
            {{#if (compare activeSideBar "users")}}
            <a class="nav-link active" href="/users">
            {{else}}
            <a class="nav-link" href="/users">
            {{/if}}
              <div
                class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                {{#if (compare activeSideBar "users")}}
                <svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                {{/if}}
                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"/></svg>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
        {{/if}}
        <li class="nav-item">
          {{#if (compare activeSideBar "university")}}
          <a class="nav-link active" href="/university">
          {{else}}
          <a class="nav-link" href="/university">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "university")}}
              <svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M496 128v16a8 8 0 0 1 -8 8h-24v12c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12v-12H24a8 8 0 0 1 -8-8v-16a8 8 0 0 1 4.9-7.4l232-88a8 8 0 0 1 6.1 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.3 0-24 10.7-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.3-10.7-24-24-24zM96 192v192H60c-6.6 0-12 5.4-12 12v20h416v-20c0-6.6-5.4-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z"/></svg>
            </div>
            <span class="nav-link-text ms-1">University</span>
          </a>
        </li>
        <li class="nav-item">
          {{#if (compare activeSideBar "chat")}}
          <a class="nav-link active" href="/chat">
          {{else}}
          <a class="nav-link" href="/chat">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "chat")}}
              <svg  style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92-13.4 30.2-35.5 54.2-35.8 54.5-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25 32.2 15.7 70.3 25 111.3 25 114.9 0 208-71.6 208-160zm122 220c23.9-26 38-57.7 38-92 0-66.9-53.5-124.2-129.3-148.1 .9 6.6 1.3 13.3 1.3 20.1 0 105.9-107.7 192-240 192-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25 21.8 12.7 52.1 25 88.7 25 3.2 0 6.1-1.9 7.3-4.8 1.3-2.9 .7-6.3-1.5-8.7-.3-.3-22.4-24.2-35.8-54.5z"/></svg>
            </div>
            <span class="nav-link-text ms-1">ChatBox Test</span>
          </a>
        </li>
        <li class="nav-item">
          {{#if (compare activeSideBar "banner")}}
          <a class="nav-link active" href="/banner">
          {{else}}
          <a class="nav-link" href="/banner">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "banner")}}
              <svg  style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M480 416v16c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48h16v208c0 44.1 35.9 80 80 80h336zm96-80V80c0-26.5-21.5-48-48-48H144c-26.5 0-48 21.5-48 48v256c0 26.5 21.5 48 48 48h384c26.5 0 48-21.5 48-48zM256 128c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm-96 144l55.5-55.5c4.7-4.7 12.3-4.7 17 0L272 256l135.5-135.5c4.7-4.7 12.3-4.7 17 0L512 208v112H160v-48z"/></svg>
            </div>
            <span class="nav-link-text ms-1">Banner</span>
          </a>
        </li>
        
        <li class="nav-item">
          {{#if (compare activeSideBar "file")}}
          <a class="nav-link active" href="/file">
          {{else}}
          <a class="nav-link" href="/file">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "file")}}
              <svg  style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M480 416v16c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48h16v208c0 44.1 35.9 80 80 80h336zm96-80V80c0-26.5-21.5-48-48-48H144c-26.5 0-48 21.5-48 48v256c0 26.5 21.5 48 48 48h384c26.5 0 48-21.5 48-48zM256 128c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm-96 144l55.5-55.5c4.7-4.7 12.3-4.7 17 0L272 256l135.5-135.5c4.7-4.7 12.3-4.7 17 0L512 208v112H160v-48z"/></svg>
            </div>
            <span class="nav-link-text ms-1">Files</span>
          </a>
        </li>
        

        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
        </li>
        <li class="nav-item">
          {{#if (compare activeSideBar "profile")}}
          <a class="nav-link active" href="/profile">
          {{else}}
          <a class="nav-link" href="/profile">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "profile")}}
              <svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              {{/if}}
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M528 32H48C21.5 32 0 53.5 0 80v16h576V80c0-26.5-21.5-48-48-48zM0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V128H0v304zm352-232c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zm0 64c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16zM176 192c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zM67.1 396.2C75.5 370.5 99.6 352 128 352h8.2c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h8.2c28.4 0 52.5 18.5 60.9 44.2 3.2 9.9-5.2 19.8-15.6 19.8H82.7c-10.4 0-18.8-10-15.6-19.8z"/></svg>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li>
        {{!-- <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Setting pages</h6>
        </li> --}}
       
        {{!-- <li class="nav-item">
          {{#if (compare activeSideBar "general")}}
          <a class="nav-link active" href="/setting/general">
          {{else}}
          <a class="nav-link" href="/setting/general">
          {{/if}}
            <div
              class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              {{#if (compare activeSideBar "general")}}
              <svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              {{else}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              {{/if}} 
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"/></svg>
            </div>
            <span class="nav-link-text ms-1">General</span>
          </a>
        </li> --}}
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          {{!-- <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol> --}}
          <h6 class="font-weight-bolder mb-0">Content Management</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            {{#if (compare activeSideBar "dashboard")}}
            <div></div>
            {{else}}
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" id="search-item" class="form-control ps-3" placeholder="Type here..." />
            </div>
            {{/if}}
          </div>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">{{user.fullname}}</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                <i class="fas fa-sign-out-alt me-sm-1"></i>
                <span id="btnLogout" class="d-sm-inline d-none">Logout</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            {{!-- <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li> --}}
          </ul>
        </div>
      </div>
    </nav>
    {{{body}}}
  </main>
  <!--   Core JS Files   -->
  <script src="http://localhost:3300/assets/js/core/popper.min.js"></script>
  <script src="http://localhost:3300/assets/js/core/bootstrap.min.js"></script>
  <script src="http://localhost:3300/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="http://localhost:3300/assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script>
    

    const btnLogout = document.getElementById("btnLogout")
    btnLogout.addEventListener('click', () => {
      Swal.fire({
        text: "Are you sure you want to log out?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/logout";
        }
      });
    })

    function checkConnection() {
      var image = new Image();
      image.src = 'https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=338&ext=jpg&ga=GA1.1.632798143.1705514400&semt=ais';


      image.onerror = function () {
        clearInterval(interval);
        console.log("offline")
        let timerInterval;
        Swal.fire({
          title: "Disconnect internet!",
          html: "Logout after <b></b> milliseconds.",
          timer: 5000,
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading();
            const timer = Swal.getPopup().querySelector("b");
            timerInterval = setInterval(() => {
              timer.textContent = `${Swal.getTimerLeft()}`;
            }, 100);
          },
          willClose: () => {
            clearInterval(timerInterval);
          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          if (result.dismiss === Swal.DismissReason.timer) {
            // clear cookie "access_token"
            window.location.href = "/logout";
          }
        });
      }
    }
    const interval = setInterval(async () => {
      checkConnection();
    }, 3000);

  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="http://localhost:3300/assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    const sidebarLinks = document.querySelectorAll('.navbar-nav a.nav-link');
    // Set active class on current page link
    sidebarLinks.forEach(link => {
      if (link.classList.contains('active')) {
        // Focus on the link
        link.focus();
    }
    });

  // Get the input field
  const searchInput = document.getElementById('search-item');

  // Add an event listener to detect input changes
  searchInput.addEventListener('input', function() {
      // Get the value of the input field
      const searchTerm = searchInput.value;

      // Make an AJAX call to the API
      // Replace the URL with your API endpoint
      $.ajax({
        url: `search?model={{activeSideBar}}&q=${searchTerm}`, // Replace with your actual API endpoint
        method: 'GET', // or 'GET' depending on your server configuration
        // data: { selectedValues: selectedValuesOfProject },
        success: function (data) {
          
          // console.log(data)
          // html = ``
          $('#body-table-user').html(data)
        },
        error: function (error) {
          // Handle errors
          // $('#dynamicContent').html(``)
        }
      });
  });
  </script>
</body>

</html>